
.navbar,ul,li{
  display: flex;
  padding: 10px 20px;
  list-style: none;
  text-decoration: none;
  margin-top: -10px;
  
}
.menu,ul,li,a{
text-decoration: none;
margin-top: -10px;
padding: 1px 50px;
}
