footer {
    background: #111;
    padding: 6px 16px;
    color: #888c8d;
    text-align: center;
    margin-top: 70px;
  }
  
  footer span a {
    color: blue;
    text-decoration: none;
  }
  
  footer span a:hover {
    text-decoration: underline;
  }
   button[type="submit"]{
    border: none;
    background: transparent;
    outline: none;
    color: white;
    font-weight: 800;
    font-size: 15px;
   }
  