*{

  margin:0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  /* background: url("https://source.unsplash.com/720x600/?dark,laptop");  */
  background-color: rgba(128, 128, 128, 0.858);
  font-family: "Poppins", sans-serif;
  color:#fff;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 25px 10% ;
  color: white;
}
.logo{
  color:white;
  text-decoration: none;
  font-size: 27px;
  cursor: pointer;
  margin-top: -10px;
  animation: slideleft 1s ease forwards;
}
.navbar a{
  display:inline-block ;
  justify-content:space-between;
  transition: 0.3s all;
  padding: 0px 16px;
  font-weight: 600;
  animation:slideleft 1s ease forwards;
  animation:navMenu 1s ease forwards;
  animation-delay:clac(.2s * var(--i));
  color: white;
 
}
.navbar a:hover,
.navbar a.active{
  color: skyblue;
}
/* .text-3 span {
  color: #1e3551;
  background: linear-gradient(135deg, #041d3d, #fff, crimson);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent;
  font-weight: 500;
}  */
.btn button{
  padding: 20px 70px;
  background:#0ef;
  margin-top: 50px;
  border:none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 15px #0ef;
  animation: slideUp 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;
  
}
button:hover{
  box-shadow: none;

}
.hero-container{
  display: flex;
  padding: 25px 10%;
  align-items: center;
  justify-content: center;
  margin-left: -510px;
}
.info-side h3{
  font-size: 30px;
  font-weight: 700;
  margin:10px 0;
  letter-spacing: 1px;
}
.info-side h1{
  font-size: 75px;
  letter-spacing: 1px;
  font-weight: 700;
  animation:slideRight 0.5s ease forwards ;
  animation-delay: 1s;
  opacity: 0;
}
.info-side h3 span{
  color: #0ef;
}
.part-1{
  animation: part1 1s ease forwards;
  /* animation-delay: 1s; */
  opacity: 0;
}
.part-2{
  animation: part2 1s ease forwards;
  /* animation-delay: 1s; */
  opacity: 0;
}
p{
  line-height: 27px;
  margin: 20px 0px 40px 0px;
  animation: slideleftP 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}
.hero-img img{
  margin-left: 753px;
  margin-top: -406px;
  position: absolute;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}
i{
  position: relative;
  border: 2px solid #0ef;
  padding: 10px;
  border-radius: 50%;
  color:#0ef;
  margin: 0px 8px;
  transition: 0.3ms;
  animation: socialIcons 1s ease forwards;
  animation-delay: calc(0.3s * var(--i)) ;
  opacity: 0;
}
i:hover{
  
  box-shadow:0 0 20px #0ef;
} 
@keyframes slideleft {
  0% {
      transform: translateX(-100px);
      opacity: 1;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes navMenu{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
  }
}
@keyframes part1{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes part2{
  0%{
      transform: translateY(100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes slideRight{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideleftP{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes socialIcons{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }
  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes slideUp{
  0%{
      transform: translateY(-100px);
      opacity: 0;
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes zoomIn{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  100%{
      transform: scale(1);
      opacity: 1;
  }
}


/*  Footer  */
/* footer {
  background: #111;
  padding: 6px 16px;
  color: #888c8d;
  text-align: center;
}

footer span a {
  color: blue;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
 button[type="submit"]{
  border: none;
  background: transparent;
  outline: none;
  color: white;
  font-weight: 800;
  font-size: 15px;
 } */
