.skills {
    background: radial-gradient(#e1efff,black);
    }
    .text{
    margin-left: 50px;
    
    }
    .p-txt{
    margin-left:-31px;
    }
    .intern-text,p{
    margin-left: 50px;
    width: 599px;
    margin-top: 15px;
    margin-left: 27px;
    line-height: 31px;
    
    
    }
    .inten2{
    margin-top: 302px;
    position: absolute;
    line-height: 27px;
    }
    .intern3{
    margin-top: 400px;
    margin-left: -40px;
    }
    .inern1{
    margin-top: 240px;
    position: absolute;
    margin-left: -38px;
    
    }
    .intrn-txt{
    margin-top: -13px;
    line-height: 35px;
    }
    .Devop-Skil{
    margin-left: -40px;
    margin-top:-30px;
    }
    .Devop-para{
    margin-left: -40px;
    margin-top:10px;
    }
    .skills .title::after {
    content: "—What I Know ?—";
    position: absolute;
    
    left: 59%;
    font-size: 20px;
    color: whitesmoke;
    padding: 0 5px;
    transform: translateX(-50%);
    margin-top: 70px;
    width: 200px;
    }
    
    .skills .skills-content .column {
    width: calc(50% - 30px);
    }
    
    .skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    
    }
    
    .skills .skills-content .left p {
    text-align: justify;
    }
    
    .skills .skills-content .left a {
    display: inline-block;
    background: #1e3551;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #1e3551;
    transition: all 0.3s ease;
    }
    
    .skills .skills-content .left a:hover {
    color: #1e3551;
    background: none;
    animation: pulsate 1s ease-in-out;
    }
    
    .intern,
    .project {
    list-style: none;
    }
    
    .intern::before,
    .project::before {
    content: "✪ ";
    color: goldenrod;
    }
    
    .skills .skills-content .right .bars {
    margin-bottom: 15px;
    margin-left: 650px;
    width:500px;
    
    }
    .text-bar{
    margin-top: -455px;
    position: absolute;
    }
    
    
    .skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
    }
    
    .skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
    }
    
    .skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    }
    
    .skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #1e3551;
    }
    
    .skills-content .right .python::before {
    width: 90%;
    }
    
    .skills-content .right .html::before {
    width: 80%;
    }
    
    .skills-content .right .css::before {
    width: 80%;
    }
    
    .skills-content .right .js::before {
    width: 75%;
    }
    
    .skills-content .right .bootstraps::before {
    width: 60%;
    }
    
    .skills-content .right .django::before {
    width: 70%;
    }
    